@{
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ViewStar</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/LoginPage.css" />
</head>
<body class="overlay">

    <section class="vh-100">
        <div class="container py-5 h-100">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">

                        <div class="card-body p-5 text-center">
                            <h3 class="mb-4">Вход</h3>
                            <hr />

                            <div class="form-outline mb-4">
                                <div class=" d-flex justify-content-start">
                                    <label class="form-label">Логин</label>
                                </div>
                                <input type="email"  class="form-control form-control-lg" />
                            </div>

                            <div class="form-outline mb-4">
                                <div class="d-flex justify-content-start">
                                    <label class="form-label">Пароль</label>
                                </div>
                                <input type="password"  class="form-control form-control-lg" />
                            </div>

                            <!-- Checkbox -->
                            <div class="form-check d-flex justify-content-start mb-4">
                                <input class="form-check-input"
                                       type="checkbox"
                                       value=""
                                       id="form1Example3" />
                                <label class="form-check-label" for="form1Example3"> Запомнить меня </label>
                            </div>

                            <button class="btn btn-primary btn-lg btn-block" type="submit">Войти</button>

                            <div class="small">
                                <hr />
                                <label class="label-text">Первый раз тут? <a asp-area="" asp-controller="Account" asp-action="Registration">Зарегистрируйтесь!</a></label>
                                <label class="label-text"><a asp-area="" asp-controller="Account" asp-action="ForgotPassword">Забыли пароль?</a></label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/homepage.js" asp-append-version="true"></script>
</body>
</html>